.ant-tabs-tab {
    margin-right: 3em;
}

.ant-card-head {
    background-color: #d3d3d366;
}

.ant-card {
    margin-right: 1em;
}

.card-link:hover .ant-card-head {
    background-color: #C7DAC766;
}

.ant-tabs-nav {
    margin-left: 20em;
}

.navigation {
    border-bottom-left-radius: 70px;
}

.ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab {
    margin-right: 1.2em;
}

#images {
    margin-bottom: 1em;
    height: 40px;
    background-size: contain;
    background-image: url('https://raw.githubusercontent.com/ntj/sandbox/15d4119abc77064b6c194666ef830b59d3c9f6f7/img/star1-4.svg');
}